/* FILEPATH: /workspaces/AI-music-recommendation/web/index.css */


/* Enable noselect for major browsers */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
}

/* Set a base font size and family */
body {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

/* Add styles for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Add styles for the main content */
main {
    padding: 20px;
}

/* Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add styles for forms */
form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#header * {
    background-color: #fff;
    color: #141214;
    text-align: center;
}

#headertext {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 16rem;
    color: #555555;
}

#subtext {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: #555555;
}

.chat * {
    text-align: center;
}

input {
    width: 20%;
    height: 1.7rem;
    text-align: left;
}

input::placeholder {
    text-align: center;    

}

.button {
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    background-color: #515151;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color:#000;
    color: #fff
}

#headerlogo {
    position: relative;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 6rem;
    height: 6rem;
    top: 1.6rem;
}

