/* Add styles for links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Enable noselect for major browsers */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
  color: #555555;
  background-color: #faf9f6;
  overflow: hidden; /* Hide scrollbars */
}

#container * {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faf9f6;
}

/* 
#loading{
    position:fixed;
    top:50%;
    left:50%;
} */

/* Add styles for the header */

#headerlogo {
  display: inline;
  width: 5.5rem;
  height: 5.5rem;
}

#header {
  margin-top: 5rem;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: Arial;
  text-align: center;
  margin-bottom: 4%;
}

#subtext {
  font-weight: 500;
  font-size: 1.3rem;
}

/* Set a base font size and family */
#body {
  text-align: center;
  position: relative;
  font-size: 16px;
  height: 100%;
}

#chatbox__response {
  margin-top: 70px;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  /* border: 1px solid #555555; */
}

input {
  width: 28%;
  height: 2.6rem;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  font-family: monospace;
  color: #faf9f6;
  background-color: #555555;
  outline: none;
}

input::placeholder {
  color: rbga(250, 249, 246, 0.7);
}

input:focus::placeholder {
  color: transparent;
}

button {
  color: #faf9f6;
  background-color: #555555;
  border-radius: 4px;
  height: 2.75rem;
  font-size: 14px;
  text-align: center;
  font-family: monospace;
  outline: none;
}

button:hover {
  color: #faf9f6;
  background-color: #000;
  outline: none;
}

#footer {
  height: 2%;
  text-align: right;
  position:sticky;
  font-size: 16px;
}
