/* Enable noselect for major browsers */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* Reset default browser styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #faf9f6;
  overflow: hidden; /* Hide scrollbars */
}

#container {
  min-height: 100%;
  text-align: center;
  position: relative;
  background-color: #faf9f6;
}

/* 
#loading{
    position:fixed;
    top:50%;
    left:50%;
} */

/* Add styles for the header */
#header {
  position: relative;
  background-color: #faf9f6;
}

/* Set a base font size and family */
#body {
  text-align: center;
  position: relative;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  background-color: #faf9f6;
  height: 100%;
}

#footer {
  text-align: right;
  position: relative;
  font-size: 16px;
  color: #555555;
  background-color: #faf9f6;
}

/* Add styles for links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#headertext {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 5rem;
  color: #555555;
  background-color: #faf9f6;
}

#headerlogo {
  position: relative;
  display: inline;
  width: 4.5rem;
  height: 4.5rem;
  top: 1.3rem;
}

#subtext {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 3.5%;
  color: #555555;
  background-color: #faf9f6;
}

#chatbox__response {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 50px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #555555;
  /* border: 1px solid #555555; */
}

input {
  width: 28%;
  height: 2.28rem;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  color: #faf9f6;
  background-color: #555555;
  outline: none;
}

input::placeholder {
  color: rbga(250, 249, 246, 0.7);
  font-size: 14px;
  text-align: center;
  background-color: #555555;
}

input:focus::placeholder {
  color: transparent;
}

button {
  padding: 10px 20px;
  height: 2.55rem;
  font-size: 14px;
  text-align: center;
  color: #faf9f6;
  background-color: #555555;
  border-radius: 4px;
  outline: none;
}

button:hover {
  color: #fff;
  background-color: #000;
  outline: none;
}

.spotify_embeds {
  position: relative;
}
