<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="../static/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="../static/assets/images/favicon.png">
    <!-- Title and Stylesheet -->
    <title>aijukebox.net</title>
    <meta name="theme-color" content="#FAF9F6">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css" />
</head>
<div class="container">
    <div class="noselect" id="header">
        <h1 id="headertext">hey, boss!  <img id="headerlogo" src="../static/assets/images/head-on-logo-transparent.png" alt="logo"></h1>
        <p id="subtext">what music interests you today?</p>
    </div>
    <div id="body">
        <!-- <img id="loading" alt="" src="../static/assets/images/loading.gif"/> -->
        <div class="chatbox">
            <div class="chatbox__input">
                <form action="/" method="POST" autocomplete="off">
                    <input type="text" name="question" id="question" placeholder = 'try: {{suggestion}}'>
                    <button>search!</button>
                </form>
                <div id="chatbox__response">
                    {% if answer not in [placeholder_response] %}
                    <!-- > <p> DEBUG Answer: {{ answer }}</p> <-->
                    <!-- <div class="show_question"> {{ question }} </div> -->
                    <br class="noselect">
                    <p id="results">results for: {{ question }}</p>
                    <div class="spotify_embeds">
                        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/{{ids[0]}}?utm_source=generator" width="22%" height="85px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/{{ids[1]}}?utm_source=generator" width="22%" height="85px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <br>
                        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/{{ids[2]}}?utm_source=generator" width="22%" height="85px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/{{ids[3]}}?utm_source=generator" width="22%" height="85px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        <br>
                        <iframe style="border-radius:0px" src="https://open.spotify.com/embed/track/{{ids[4]}}?utm_source=generator" width="22%" height="85px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    {% endif %}
                    </div>
                </div>
            </div>
            <!-- <script src="../static/js/index.js"></script> -->
            <div class="noselect" id="footer">
                <pre>© 2023 aijukebox.net   </pre>
            </div> 
        </div>
    </div>
</div>
</html>