<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="../static/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="../static/assets/images/favicon.png">
    <!-- Title and Stylesheet -->
    <title>aijukebox.net</title>
    <meta name="theme-color" content="#FAF9F6">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css" />
</head>
<div class="container"></div>
    <div id="header">
    </div>
    <div id="body">
        <!-- <img id="loading" alt="" src="../static/assets/images/loading.gif"/> -->
        <div class="noselect" id="header">
            <h1 id="headertext">hey, boss!  <img id="headerlogo" src="../static/assets/images/head-on-logo-transparent.png" alt="logo"></h1>
            <p id="subtext">what music interests you today?</p>
        </div>
        <div class="chatbox">
            <div class="chatbox__input">
                <form action="/" method="POST" autocomplete="off">
                    <input type="text" name="question" id="question" placeholder = 'try: {{suggestion}}'>
                    <button>search!</button>
                </form>
                <div id="chatbox__response">
                    {% if answer not in [placeholder_response] %}
                    <!-- > <p> DEBUG Answer: {{ answer }}</p> <-->
                    <!-- <div class="show_question"> {{ question }} </div> -->
                    <br class="noselect">
                    sure! here's '{{ question }}'
                    <div class="spotify_embeds">
                        <br class="noselect">
                        <!-- <p> {{ answer.get('1').get('track') }} by {{ answer.get('1').get('artist') }} </p> -->
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ids[0]}}?utm_source=generator" width="25%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <!-- <p> {{ answer.get('2').get('track') }} by {{ answer.get('2').get('artist') }} </p> -->
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ids[1]}}?utm_source=generator" width="25%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <br>
                        <!-- <p> {{ answer.get('3').get('track') }} by {{ answer.get('3').get('artist') }} </p> -->
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ids[2]}}?utm_source=generator" width="25%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <!-- <p> {{ answer.get('4').get('track') }} by {{ answer.get('4').get('artist') }} </p> -->
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ids[3]}}?utm_source=generator" width="25%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <br>
                        <!-- <p> {{ answer.get('5').get('track') }} by {{ answer.get('5').get('artist') }} </p> -->
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ids[4]}}?utm_source=generator" width="25%" height="120" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- <script src="../static/js/index.js"></script> -->
    </div>
    <div class="noselect" id="footer">
        <pre>© 2023 aijukebox.net   </pre>
    </div> 
</html>